# Docs: https://caddyserver.com/docs/caddyfile
https://franciscomauri.es {
    root /var/www/franciscomauri
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    # Uncomment to enable TLS (HTTPS)
    # Change the first list to listen on port 443 when enabling TLS
    tls labrest03@gmail.com

    # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
    #tls {
    #  dns cloudflare
    #}
}

https://seodashboard.franciscomauri.es {
    root /var/www/seo-dashboard/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions with laravel change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    # Uncomment to enable TLS (HTTPS)
    # Change the first list to listen on port 443 when enabling TLS
    tls labrest03@gmail.com

    # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
    #tls {
    #  dns cloudflare
    #}
}

https://ecommerce.franciscomauri.es {
    root /var/www/eCommerce
    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions with laravel change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    # Uncomment to enable TLS (HTTPS)
    # Change the first list to listen on port 443 when enabling TLS
    tls labrest03@gmail.com

    # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
    #tls {
    #  dns cloudflare
    #}
}





